<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="path" value="G:\index"/>
    <add key="pathindex" value="E:\Project\Spider\LuceneIndex\LuceneIndex"/>
    <add key="Redis" value="false"/>
    <add key="RedisConnection" value="127.0.0.1"/>
    <add key="Port" value="6379"/>
    <add key="IndexStartHour" value="2"/>
    <add key="IndexStartMin" value="26"/>
  </appSettings>
  <!--<log4net>
    --><!-- Define some output appenders --><!--
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1024KB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>-->
</configuration>